html {
    font-size: 62.5%;
}

.nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 200px;
    width: 300px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    width: 100%;
    font-size: 3rem;
}

.nav-text {
    font-size: 3rem;
    margin: 3rem;
    color: white;
}

.nav-text:hover {
    text-decoration: underline;
}

.header {
    color: green;
}